@use "../base/typography";

.additional-info-block {
    display: inline-flex;
    flex-direction: column;

    row-gap: 12px;

    &__title {
        @include typography.tp-7--blue;
    }

    &__text {
        @include typography.tp-6;
    }
}

//? --- TABLET ---
//? --------------
@media (min-width: 768px) and (max-width: 1439px) {
    .additional-info-block {
        align-items: center;
    }
}

//? --- MOBILE ---
//? --------------
@media (max-width: 767px) {
    .additional-info-block {
        align-items: center;

        &__title {
            @include typography.tp-7--blue;
        }

        &__text {
            @include typography.tp-6;

            font-family: "Bellefair", serif !important;
            font-weight: typography.$regular !important;
            font-style: normal !important;

            letter-spacing: 0 !important;
            font-size: 28px !important;
        }
    }
}
