@use "../base/typography";

.additional-info-block {
    display: inline-flex;
    flex-direction: column;

    row-gap: 12px;

    &__title {
        @include typography.tp-7--blue;
    }

    &__text {
        @include typography.tp-6;
    }
}

//? --- TABLET ---
//? --------------
@media (min-width: 768px) and (max-width: 1439px) {
    .additional-info-block {
        align-items: center;
    }
}
