@use "../base/colors";
@use "../utilities/spacing";

.close-menu-btn {
    // &__input {
    //     display: none;
    // }

    &__img {
        display: block;

        width: 24px;
        height: auto;

        aspect-ratio: 24 / 21;

        line-height: 0;
    }
}
