@use "../base/colors";
@use "../utilities/spacing";

.menu-btn {
    display: none;
    padding-right: 24px;

    // &__input {
    //     display: none;
    // }

    &__img {
        display: block;

        width: 24px;
        aspect-ratio: 24 / 21;

        line-height: 0;
    }
}

//? --- MOBILE ---
//? --------------
@media (max-width: 767px) {
    .menu-btn {
        display: block;
    }
}
