.pictures {
    display: inline-block;

    // padding: 0 29.5px;

    max-width: 539px;
    width: 100%;

    &__img {
        display: none;

        width: 100%;
        height: 100%;

        object-fit: contain;

        &.active {
            display: inline-block;
        }
    }

    &--destination {
        padding: 127px 0;
    }

    // &--crew {
    //     max-width: 539px;
    //     height: 676px;
    // }

    &--technology {
        max-width: 608px;
        aspect-ratio: 608 / 600;

        .pictures__img {
            object-fit: cover;
        }
    }
}

//? TODO: Мы ж хотим красиво :)
// .planets {
//     position: relative;

//     width: 539px;
//     height: auto;
//     aspect-ratio: 1 / 1;

//     // padding: 0 29.5px;
//     margin: 0 29.5px;

//     &__img {
//         position: absolute;

//         top: 0;
//         left: 0;

//         width: 100%;
//         height: 100%;

//         opacity: 0;

//         will-change: opacity;
//         transition: opacity 0.3s ease-in-out;

//         pointer-events: none;

//         &.active {
//             opacity: 1;
//             pointer-events: auto;
//         }
//     }
// }
