@use "../base/colors";
@use "../base/typography";
@use "../utilities/spacing";

.site-navigation {
    box-sizing: content-box;

    padding: 0 spacing.$spacing-800 0 spacing.$spacing-2000;

    background-color: rgba($color: colors.$color__white, $alpha: 5%);
    backdrop-filter: blur(80px);

    &__list {
        display: flex;
        flex-direction: row;

        column-gap: spacing.$spacing-600;

        list-style: none;
        // list-style-type: decimal-leading-zero;
        // list-style-position: inside;
    }

    &__item {
        @include typography.tp-8;

        counter-increment: nav-counter;

        // &::marker {
        //     margin-right: spacing.$spacing-150;
        //     font-weight: $bold;
        // }
    }

    &__link {
        position: relative;

        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        column-gap: spacing.$spacing-150;

        width: auto;
        min-height: 96px;

        // cursor: pointer;
        cursor: url("../../../public/assets/images/icons/pointer/pointer.svg") 3 0, auto;

        &::before {
            @include typography.tp-8--bold;
            content: counter(nav-counter, decimal-leading-zero);

            // margin-right: spacing.$spacing-150;
            // font-weight: $bold;
        }

        &::after {
            content: "";

            position: absolute;

            width: auto;
            min-height: 3px;

            left: 0;
            right: 0;
            bottom: 0;

            background-color: transparent;

            will-change: background-color;
            transition: background-color 0.3s ease-in-out;
        }

        &:hover {
            &::after {
                background-color: rgba($color: colors.$color__white, $alpha: 50%);
            }
        }

        &:active {
            &::after {
                background-color: rgba($color: colors.$color__white, $alpha: 100%);
            }
        }

        &.active {
            &::after {
                background-color: rgba($color: colors.$color__white, $alpha: 100%);
            }
        }
    }
}

//? --- TABLET ---
//? --------------
@media (min-width: 768px) and (max-width: 1439px) {
    .site-navigation {
        padding: 0 40px 0 117px;

        &__list {
            column-gap: 40px;
        }

        // &__link {
        //     &::before {
        //         display: none;
        //     }
        // }
    }
}
