@use "../base/colors";
@use "../base/typography";

.tab-panel {
    display: inline-flex;
    flex-direction: column;

    align-items: start;

    max-width: 539px;
    padding: 0 47px;

    &__tab {
        display: none;
        flex-direction: column;

        row-gap: 40px;

        &.active {
            display: flex;
        }
    }

    &__text-group {
        display: inline-flex;
        flex-direction: column;

        row-gap: 16px;
    }

    &__title {
        @include typography.tp-2;
    }

    &__text {
        @include typography.tp-9--blue;
        min-height: 128px;
    }

    &__separator {
        display: block;

        border-top: 1px solid rgba($color: colors.$color__white, $alpha: 0.25);
        border-radius: 0;
    }

    &__additional-info {
        display: inline-flex;
        justify-content: flex-start;

        column-gap: 96px;
    }

    // &__navigation {
    //     // nothing
    // }

    // &__pagination {
    // }

    &__header-group {
        display: inline-flex;
        flex-direction: column;

        row-gap: 16px;
    }

    &__surtitle {
        @include typography.tp-4--half-opacity;
    }

    &--crew {
        // justify-content: flex-end;
        // align-items: flex-end;

        padding: 0;
        row-gap: 40px;

        // .tab-panel__tab {
        //     display: none;

        //     &.active {
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;

        //         row-gap: 40px;

        //         min-height: 631px;

        //         // padding: 197px 0;
        //     }
        // }

        .tab-panel__tab {
            row-gap: 24px;
            min-height: 631px;
            justify-content: center;
        }

        .tab-panel__title {
            @include typography.tp-3;
        }
    }

    &--technology {
        padding: 0;

        max-width: 635px;
        flex-direction: row;

        justify-content: start;
        align-items: center;

        // padding: 64px auto;
        column-gap: 64px;

        .tab-panel__tab {
            row-gap: 24px;
        }

        .tab-panel__title {
            @include typography.tp-3;
        }
    }
}

//? --- TABLET ---
//? --------------
@media (min-width: 768px) and (max-width: 1439px) {
    .tab-panel {
        max-width: 514px;
        padding: 11.5px 0;

        align-items: center;

        &__title {
            text-align: center;
        }

        &__text {
            min-height: 87px;
            text-align: center;
        }

        &__tab {
            row-gap: 24px;
        }

        &__additional-info {
            justify-content: space-around;
            column-gap: 24px;
        }

        // &__header-group {
        //     row-gap: 16px;
        // }

        &__surtitle {
            text-align: center;
        }

        &--crew {
            padding: 0;
            padding-top: 40px;

            row-gap: 24px;

            .tab-panel__text {
                height: 117px;
            }

            .tab-panel__tab {
                // row-gap: 24px;
                min-height: auto;
                // justify-content: center;
            }

            // .tab-panel__title {
            //     @include typography.tp-3;
            // }
        }

        &--technology {
            max-width: 512px;
            flex-direction: column;

            row-gap: 40px;
            padding: 0;

            .tab-panel__tab {
                row-gap: 16px;
                // height: 146px;
            }

            .tab-panel__text {
                height: 146px;
            }
        }
    }
}

//? --- MOBILE ---
//? --------------
@media (max-width: 767px) {
    .tab-panel {
        max-width: 327px;
        padding: 0;

        align-items: center;

        &__title {
            text-align: center;
        }

        &__text {
            // height: 87px;
            min-height: 136px;
            text-align: center;
        }

        &__tab {
            row-gap: 24px;
        }

        &__additional-info {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            row-gap: 24px;
        }

        // &__header-group {
        //     row-gap: 16px;
        // }

        &__surtitle {
            text-align: center;
        }

        &--crew {
            padding: 0;
            padding-top: 40px;

            row-gap: 24px;

            .tab-panel__text {
                height: 162px;
            }

            .tab-panel__tab {
                min-height: auto;
            }
        }

        // &--technology {
        //     max-width: 512px;
        //     flex-direction: column;

        //     row-gap: 40px;
        //     padding: 0;

        //     .tab-panel__tab {
        //         row-gap: 16px;
        //         // height: 146px;
        //     }

        //     .tab-panel__text {
        //         height: 146px;
        //     }
        // }
    }
}
