@use "../base/colors";
@use "../base/typography";

.tab-panel {
    display: inline-flex;
    flex-direction: column;

    align-items: start;

    max-width: 539px;
    padding: 0 47px;

    &__tab {
        display: none;
        flex-direction: column;

        row-gap: 40px;

        &.active {
            display: flex;
        }
    }

    &__text-group {
        display: inline-flex;
        flex-direction: column;

        row-gap: 16px;
    }

    &__title {
        @include typography.tp-2;
    }

    &__text {
        @include typography.tp-9--blue;
    }

    &__separator {
        display: block;

        border-top: 1px solid rgba($color: colors.$color__white, $alpha: 0.25);
        border-radius: 0;
    }

    &__additional-info {
        display: inline-flex;
        justify-content: flex-start;

        column-gap: 96px;
    }

    // &__navigation {
    //     // nothing
    // }

    // &__pagination {
    // }

    &__header-group {
        display: inline-flex;
        flex-direction: column;

        row-gap: 16px;
    }

    &__surtitle {
        @include typography.tp-4--half-opacity;
    }

    &--crew {
        // justify-content: flex-end;
        // align-items: flex-end;

        padding: 0;
        row-gap: 40px;

        // .tab-panel__tab {
        //     display: none;

        //     &.active {
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;

        //         row-gap: 40px;

        //         min-height: 631px;

        //         // padding: 197px 0;
        //     }
        // }

        .tab-panel__tab {
            row-gap: 24px;
            min-height: 631px;
            justify-content: center;
        }

        .tab-panel__title {
            @include typography.tp-3;
        }
    }

    &--technology {
        padding: 0;

        max-width: 635px;
        flex-direction: row;

        justify-content: start;
        align-items: center;

        // padding: 64px auto;
        column-gap: 64px;

        .tab-panel__tab {
            row-gap: 24px;
        }

        .tab-panel__title {
            @include typography.tp-3;
        }
    }
}
