@use "../base/typography";

.destination {
    display: flex;
    flex-direction: column;

    row-gap: 24px;

    &__title {
        @include typography.tp-5--white;

        span {
            @include typography.tp-5--white-bold;
            opacity: 25%;

            margin-right: 24px;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: center;

        column-gap: 32px;
        // padding: 127px 0;
    }
}

//? --- TABLET ---
//? --------------
@media (min-width: 768px) and (max-width: 1439px) {
    .destination {
        &__content {
            flex-direction: column;
            row-gap: 32px;
        }
    }
}

//? --- MOBILE ---
//? --------------
@media (max-width: 767px) {
    .destination {
        &__title {
            @include typography.tp-6;
            text-align: center;

            span {
                @include typography.tp-6--bold;
                opacity: 25%;

                margin-right: 24px;
            }
        }

        &__content {
            flex-direction: column;
            row-gap: 32px;
        }
    }
}
