@use "../base/typography";
@use "../base/colors";

@use "../utilities/spacing";

.homepage {
    &__content {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: center;

        padding-top: spacing.$spacing-3600;

        column-gap: 30px;
    }

    &__text-container {
        display: inline-flex;
        flex-direction: column;

        max-width: 540px;

        row-gap: spacing.$spacing-300;
    }

    &__button-container {
        display: inline-flex;
        flex-direction: row;

        justify-content: flex-end;
        align-items: center;

        max-width: 540px;
    }

    &__title {
        @include typography.tp-1;
    }

    &__tagline {
        @include typography.tp-5;
    }

    &__paragraph {
        @include typography.tp-9;

        color: colors.$color__blue-300;
    }
}

//? --- TABLET ---
//? --------------
@media (min-width: 768px) and (max-width: 1439px) {
    .homepage {
        &__content {
            flex-direction: column;
            align-items: center;

            padding-top: 0;
            row-gap: 66px;
        }

        &__text-container {
            max-width: 512px;
            align-items: center;
        }

        &__paragraph {
            // @include typography.tp-9;
            text-align: center;
        }
    }
}
