@use "./colors";

//? --- Font weights variables
//? --------------------------
$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;
$extrablack: 950;

//? --- Text preset 1
//? -----------------

@mixin tp-1 {
    font-family: "Bellefair", serif;
    font-weight: $regular;
    font-style: normal;

    font-size: 144px;

    // line-height: 171.9%;
    line-height: normal;

    letter-spacing: 0;

    color: colors.$color__white;

    text-transform: uppercase;

    //? --- MOBILE ---
    //? --------------
    @media (max-width: 767px) {
        font-size: 80px;
    }
}

//? --- Text preset 2
//? -----------------

@mixin tp-2 {
    font-family: "Bellefair", serif;
    font-weight: $regular;
    font-style: normal;

    font-size: 100px;

    // line-height: 64.2%;
    line-height: normal;

    letter-spacing: 0;

    color: colors.$color__white;

    text-transform: uppercase;

    //? --- TABLET ---
    //? --------------
    @media (min-width: 768px) and (max-width: 1439px) {
        font-size: 80px;
    }

    //? --- MOBILE ---
    //? --------------
    @media (max-width: 767px) {
        font-size: 56px;
    }
}

//? --- Text preset 3
//? -----------------

@mixin tp-3 {
    font-family: "Bellefair", serif;
    font-weight: $regular;
    font-style: normal;

    font-size: 56px;

    // line-height: 64.2%;
    line-height: normal;

    letter-spacing: 0;

    color: colors.$color__white;

    text-transform: uppercase;

    //? --- TABLET ---
    //? --------------
    @media (min-width: 768px) and (max-width: 1439px) {
        font-size: 40px;
    }

    //? --- MOBILE ---
    //? --------------
    @media (max-width: 767px) {
        font-size: 24px;
    }
}

//? --- Text preset 4
//? -----------------

@mixin tp-4 {
    font-family: "Bellefair", serif;
    font-weight: $regular;
    font-style: normal;

    font-size: 32px;

    // line-height: 36.7%;
    line-height: normal;

    letter-spacing: 0;

    color: colors.$color__white;

    text-transform: uppercase;

    //? --- TABLET ---
    //? --------------
    @media (min-width: 768px) and (max-width: 1439px) {
        font-size: 24px;
    }

    //? --- MOBILE ---
    //? --------------
    @media (max-width: 767px) {
        font-size: 18px;
    }
}

@mixin tp-4--half-opacity {
    @include tp-4;
    opacity: 50%;
}

@mixin tp-4--dark-blue {
    @include tp-4;

    color: colors.$color__blue-900;
}

@mixin tp-4--dark-blue--half-opacity {
    @include tp-4;

    color: rgba($color: colors.$color__blue-900, $alpha: 0.5);
}

//? --- Text preset 5
//? -----------------

@mixin tp-5 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: $regular;
    font-style: normal;

    font-size: 28px;

    // line-height: 33.6%;
    line-height: normal;

    letter-spacing: 4px;

    color: colors.$color__blue-300;

    text-transform: uppercase;

    //? --- TABLET ---
    //? --------------
    @media (min-width: 768px) and (max-width: 1439px) {
        font-size: 20px;
        letter-spacing: 15%;
    }
}

@mixin tp-5--white {
    @include tp-5;
    color: colors.$color__white;
}

@mixin tp-5--white-bold {
    @include tp-5;

    color: colors.$color__white;
    font-weight: $bold;

    letter-spacing: 4.72px;
}

//? --- Text preset 6
//? -----------------

@mixin tp-6 {
    font-family: "Bellefair", serif;
    font-weight: $regular;
    font-style: normal;

    font-size: 28px;

    // line-height: 32.1%;
    line-height: normal;

    letter-spacing: 0;

    color: colors.$color__white;

    text-transform: uppercase;

    //? --- MOBILE ---
    //? --------------
    @media (max-width: 767px) {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: $regular;
        font-style: normal;

        letter-spacing: 0.15em;
        font-size: 16px;
    }
}

//? --- Text preset 7
//? -----------------

@mixin tp-7 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: $regular;
    font-style: normal;

    font-size: 14px;

    // line-height: 16.8%;
    line-height: normal;

    letter-spacing: 2px;

    color: colors.$color__white;

    text-transform: uppercase;
}

@mixin tp-7--blue {
    @include tp-7;
    color: colors.$color__blue-300;
}

//? --- Text preset 8
//? -----------------

@mixin tp-8 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: $regular;
    font-style: normal;

    font-size: 16px;

    // line-height: 19.2%;
    line-height: normal;

    letter-spacing: 2px;

    color: colors.$color__white;

    text-transform: uppercase;

    //? --- MOBILE ---
    //? --------------
    @media (max-width: 767px) {
        font-size: 14px;
        letter-spacing: 0.15em;
    }
}

@mixin tp-8--blue {
    @include tp-8;
    color: colors.$color__blue-300;
}

@mixin tp-8--bold {
    @include tp-8;

    font-weight: $bold;
    letter-spacing: 2.7px;
}

//? --- Text preset 9
//? -----------------

@mixin tp-9 {
    font-family: "Barlow", sans-serif;
    font-weight: $regular;
    font-style: normal;

    font-size: 18px;

    line-height: 180%;
    letter-spacing: 0;

    color: colors.$color__white;

    text-transform: none;

    //? --- TABLET ---
    //? --------------
    @media (min-width: 768px) and (max-width: 1439px) {
        font-size: 16px;
    }

    //? --- MOBILE ---
    //? --------------
    @media (max-width: 767px) {
        font-size: 15px;
    }
}

@mixin tp-9--blue {
    @include tp-9;
    color: colors.$color__blue-300;
}
