@use "../base/typography";

.additional-info-block {
    display: inline-flex;
    flex-direction: column;

    row-gap: 12px;

    &__title {
        @include typography.tp-7--blue;
    }

    &__text {
        @include typography.tp-6;
    }
}
