.body {
    overflow-x: hidden;
    overflow-y: auto;
    // scroll-behavior: smooth;

    width: 100%;
    min-height: 100vh;

    background-image: url("../../../public/assets/images/background/homepage_background.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--destination {
        background-image: url("../../../public/assets/images/background/destination_background.jpg");
    }

    &--crew {
        background-image: url("../../../public/assets/images/background/crew_background.jpg");
    }

    &--technology {
        background-image: url("../../../public/assets/images/background/technology_background.jpg");
    }
}
