//? --- STYLES FOR HEADER HERE
//? --------------------------

@use "../utilities/spacing" as *;

.header {
    padding-top: $sp-500;

    &__content {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: center;
    }
}
