//? --- STYLES FOR HEADER HERE
//? --------------------------

@use "../utilities/spacing";

.header {
    padding-top: spacing.$spacing-500;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

//? --- TABLET ---
//? --------------
@media (min-width: 768px) and (max-width: 1439px) {
    .header {
        padding-top: 0;
    }
}
