@use "../utilities/spacing";

.wrapper {
    margin: 0 auto;

    // max-width: 1440px;
    max-width: 1110px;
    height: auto;

    // padding: spacing.$spacing-1600 spacing.$spacing-2050;
    padding: spacing.$spacing-1600 0;

    &--destination,
    &--crew,
    &--technology {
        // padding: spacing.$spacing-600 spacing.$spacing-2050;
        padding: spacing.$spacing-600 0;
    }

    &--technology {
        // position: relative;

        max-width: 1275px;

        // /* Центрируем */
        // left: 50%;
        // transform: translateX(-50%);

        /* Смещаем вправо на разницу ширины (1275 - 1110 = 165) / 2 = 82.5px */
        // transform: translateX(calc(-50% + 82.5px));

        // transform: translateX(82.5px);

        transform: translateX(calc((1275px - 1110px) / 2));

        // margin-left: auto;
        // margin-right: calc(auto - 165px);
    }
}

//? --- TABLET ---
//? --------------
@media (min-width: 768px) and (max-width: 1439px) {
    .wrapper {
        max-width: 688px;

        &--destination,
        &--crew,
        &--technology {
            padding: 40px 0;
        }

        &--technology {
            // max-width: none;
            // width: 100%;

            max-width: 768px;
            transform: none;

            // padding: 40px 40px;
        }
    }
}

//? --- MOBILE ---
//? --------------
@media (max-width: 767px) {
    .wrapper {
        max-width: 327px;
        padding: 24px 0;

        &--destination,
        &--crew,
        &--technology {
            padding: 24px 0;
        }

        &--technology {
            // max-width: none;
            // width: 100%;

            max-width: 375px;
            transform: none;

            // padding: 40px 40px;
        }
    }
}
