@use "../utilities/spacing";

.wrapper {
    margin: 0 auto;

    max-width: 1440px;
    height: auto;

    padding: spacing.$spacing-1600 spacing.$spacing-2050;

    &--destination {
        padding: spacing.$spacing-600 spacing.$spacing-2050;
    }
}
